MechineLearning/ex-requirement/

cs188-18FA/ppt/
cs188-18FA/ppt-pdf/
cs188-18FA/zips/
cs188-18FA/hw/
cs188-18FA/notes/
cs188-18FA/sections/
台大-机器人学-运动学/课件+书籍.rar
台大-机器人学-运动学/课件+书籍/机器人学导论（原书第3版）.pdf
PatternRecognition/作业2：前馈神经网络-报告.pdf
PatternRecognition/作业2：前馈神经网络-报告.md
PatternRecognition/fnlp-AIplusX-PRML-master-as2.zip
PatternRecognition/assignment-2/parameter.pkl
PatternRecognition/assignment-2/data/MNIST/processed/test.pt
PatternRecognition/assignment-2/data/MNIST/processed/training.pt
PatternRecognition/assignment-2/data/MNIST/raw/t10k-images-idx3-ubyte
PatternRecognition/assignment-2/data/MNIST/raw/t10k-images-idx3-ubyte.gz
PatternRecognition/assignment-2/data/MNIST/raw/t10k-labels-idx1-ubyte
PatternRecognition/assignment-2/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
PatternRecognition/assignment-2/data/MNIST/raw/train-images-idx3-ubyte
PatternRecognition/assignment-2/data/MNIST/raw/train-images-idx3-ubyte.gz
PatternRecognition/assignment-2/data/MNIST/raw/train-labels-idx1-ubyte
PatternRecognition/assignment-2/data/MNIST/raw/train-labels-idx1-ubyte.gz
6.009-Fundamentals of Programming/labs/zips/lab0_Audio_Processing.zip
6.009-Fundamentals of Programming/labs/zips/lab1_Image_Processing.zip
6.009-Fundamentals of Programming/labs/zips/lab2_Image_Processing2.zip
6.009-Fundamentals of Programming/labs/zips/lab3_Bacon_Number.zip
